@charset "utf-8";

/* Body */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}

header:after {
    content: "";
    display: table;
    clear: both;
}

h1#name {
    display: -webkit-flex;
    display: flex;
    float: left;
    margin-left: 30px;
    height: 100%;
}

/* Nav */
nav.horazonalNav {
    float: right;
    background: rgba(100, 100, 100, 0.85);
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    width: 30%;
}

nav.horazonalNav > ul {
    height: 100%;
    margin: 0;
    padding: 0;
}
nav.horazonalNav > ul:after {
    content: "";
    display: table;
    clear: both;
}


nav.horazonalNav ul > li  {
    float: left;
    padding: 10px 20px;
    list-style-type: none;
    text-align: center;
    
}

nav.horazonalNav a  {
    text-decoration: none;
    color: white;
}

img{
    width: 20%;
}